<!DOCTYPE html>
<html>
  <head>
    <title>GoblinHood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %> 
    
    <script type="text/javascript" id='important-info'>
      NEWS_API_KEY = ENV['news_api_key']
    </script>
  </head>
 

  <body>
    <%= yield %>
  </body>
</html>
